/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	
}




/* 2. Content ================================= */

.wrapper {
	width: 350px;
	height: 350px;
	posistion: relative;
	margin: 5% 35%;
	background: gray;


	h1 {
		text-align: center;
		font-size: 2rem;
		padding: 5% 5%;
		border-bottom: 1px solid orange;
	}

	p {
		padding-left: 5%;
		text-align: center;	
	}

	input {
		text-align: center;
		width: auto;
		outline: none;
		margin: 5% 35%;
	}

}














